@font-face {
    font-family: "Cirka Variable";
    src: url("./Cirka-Variable.woff2") format("woff2");
    font-weight: 650;
    font-style: normal;
}

* {
    font-family: "Cirka Variable", sans-serif; 
    box-sizing: border-box;
}

body {
    background-color: #a5e0ea;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    width: 600px;
    margin: 0 auto;
}

#footer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #31a9bd;
    padding: 20px;
}

#header {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: #31a9bd;
    padding: 20px;
}

#headeralt {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    background-color: #31a9bd;
    padding: 20px;
}

#header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

#header h1,
#header h2 {
    margin: 0;
}

#sidebar {
    width: 200px;
    background-color: #77ebff;
    padding: 20px;
}

#content {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
}

#sidebar a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #257c8a;
    margin-bottom: 10px;
    padding: 5px;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

#sidebar a:hover {
    text-decoration: underline;
}